[Unit]
Description=Django service
 
[Service]
Type=simple
User=ubuntu
ExecStart=/usr/bin/python3 /home/ubuntu/myproject/manage.py runserver
 
[Install]
WantedBy=multi-user.target